{% extends './base.html' %}

{% block title %}Página Inicio{% endblock %}

{% block customCSS %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

{% block body %}
<main>
<nav class="navbar navbar-expand-lg .bg-primary" >
    <div class="container-fluid">
      <a class="navbar-brand" href="{{ url_for('index') }}">Lenguaje para todos</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" style="justify-content: flex-end" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="nosotros">Sobre nosotros</a>
          </li>
          <li class="nav-item" href="#">
            <a class="nav-link active" href="login">Iniciar Sesión</a>
          </li>
        </ul>
      </div>
    </div>
</nav>

<!-- First heroe -->
<div class="px-4 py-5 my-5 text-center">
  <img class="d-block mx-auto mb-4" src="{{ url_for('static', filename='img/lengua_de_senas.png') }}" alt=""  style="max-width:10% ;">
  <h1 class="display-5 fw-bold">¡Bienvenido a Lenguaje Para Todos!</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">Nuestro objetivo es ofrecer a nuestros clientes novedosas utilidades para lograr una verdadera inclusión en nuestra región metropolitana, empleando un novedoso
      sistema de intérprete de lenguaje de señas.
      </p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <!--<button type="button" class="btn btn-primary btn-lg px-4 gap-3" ><a class="nav-link active" href="nosotros">Para saber más acerca de nosotros presiona el siguiente boton</a></button> -->
    </div>
  </div>
</div>


<!-- Second heroe -->

<div class="container my-5">
  <div class="row flex-lg-row align-items-center g-5 py-5 rounded-3 border">
    <div class="col-lg-6">
      <h1 class="display-4 fw-bold lh-1">Nuestra Misión</h1>
      <p class="lead">La misión de “lenguaje para todos” es ayudar a los colegios diferenciales dentro de la región metropolitana en la participación de las personas sordas o con alguna disminución de la audición en la educación básica para asegurar un entorno accesible e inclusivo para todos.</p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
        <button type="button" class="btn btn-primary btn-lg px-4 me-md-2 fw-bold"><a class="nav-link active" href="nosotros">Para saber más acerca de nosotros presiona el siguiente boton</a></button>
      </div>
    </div>
    <div class="col-10 col-sm-8 col-lg-6">
        <img class="d-block mx-lg-auto img-fluid " src="{{ url_for('static', filename='img/inclusion.png') }}" alt="">
    </div>
  </div>
</div>

<footer class="py-3 my-4">
  <ul class="nav justify-content-center border-bottom pb-3 mb-3">
    <li class="nav-item">
      <a href="#" class="nav-link px-2 text-muted">...</a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link px-2 text-muted">...</a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link px-2 text-muted">ToS</a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link px-2 text-muted">Contactanos</a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link px-2 text-muted">FAQs</a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link px-2 text-muted">Sobre Nosotros</a>
    </li>
  </ul>
  <p class="text-center text-muted">
    © 2022 Lenguaje para todos
  </p>
</footer>

{% endblock %}