{% extends './base.html' %}

{% block customCSS %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}">
{% endblock %}
<style>

</style>
{% block body %}

<section class="w-100 p-5">
    <div class="row">
        <div class="col-lg-4">
            <div class="card shadow mb-4">
                <div class="card-body text-center">
                    <!--<img src="{{ url_for('static', filename='img_perfiles/{{current_user.imagen}}') }}"
                    style="width: 150px; height: 150px;">
                    -->
                    <img src="static/img_perfiles/{{ current_user.imagen}}" style="width: 100%; height: 100%;" />
                    <h5 class="my-3"> {{ current_user.nombre }} </h5>
                    <p class="text-muted mb-4"> Actualmente desempeñando el rol de 
                        {% if current_user.tipoUsuario == 1: %}
                            Administrador
                        {% endif %}
                        {% if current_user.tipoUsuario == 2: %}
                            Docente
                        {% endif %}
                        {% if current_user.tipoUsuario == 3: %}
                            Estudiante
                        {% endif %}
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="card mb-4 shadow">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="mb-0">Nombre</p>
                        </div>
                        <div class="col-sm-9">
                            <p class="text-muted mb-0"> {{ current_user.nombre }} </p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="mb-0">Apellido</p>
                        </div>
                        <div class="col-sm-9">
                            <p class="text-muted mb-0"> {{ current_user.apellidos }} </p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="mb-0">Username</p>
                        </div>
                        <div class="col-sm-9">
                            <p class="text-muted mb-0"> {{ current_user.username }} </p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="mb-0">Comuna</p>
                        </div>
                        <div class="col-sm-9">
                            <p class="text-muted mb-0"> {{ current_user.comuna }}</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="mb-0">Teléfono</p>
                        </div>
                        <div class="col-sm-9">
                            <p class="text-muted mb-0"> {{ current_user.telefono }} </p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="mb-0">Dirección</p>
                        </div>
                        <div class="col-sm-9">
                            <p class="text-muted mb-0"> {{ current_user.direccion }} </p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="mb-0">Correo</p>
                        </div>
                        <div class="col-sm-9">
                            <p class="text-muted mb-0"> {{ current_user.correo }} </p>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center mt-5 mb-3">
                        {% if current_user.tipoUsuario != 3: %}
                        <a href="{{ url_for('updatePerfil', id=current_user.id) }}" class="btn btn-secondary btn-sm">
                            Actualizar perfil </a>
                        {% endif %}
                        </div>
                        {% with messages = get_flashed_messages() %}
                        {% if messages %}
                        {% for message in messages %}
                        <div class="alert alert-primary alert-dismissible" role="alert">
                            <strong>{{ message }}</strong>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        
                    </div>
                    {% endfor %}
                    {% endif %}
                    {% endwith %}
                    <!-- Rut  -->
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="card mb-4 mb-md-0 shadow">
                        <div class="card-body">
                            <p class="mb-4 text-center"> Lista de alumnos </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card mb-4 mb-md-0 shadow">
                        <div class="card-body text-center">
                            <a href="{{ url_for('tareas') }}" class="btn btn-secondary btn-sm">
                                Lista de tareas </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

</html>



<!-- Navbar -->