{% extends './base.html' %}

{% block title %}Preguntas{% endblock %}

{% block customCSS %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/preguntas.css') }}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
{% endblock %}

{% block body %}




<nav class="navbar navbar-expand-lg .bg-primary" >
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Lenguaje para todos</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" style="justify-content: flex-end" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="index">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="nosotros">Sobre nosotros</a>
          </li>
          <li class="nav-item" href="#">
            <a class="nav-link active" href="aprende">Aprende</a>
          </li>
          <li class="nav-item" href="#">
            <a class="nav-link active" href="login">Iniciar Sesión</a>
          </li>
        </ul>
      </div>
    </div>
</nav>




<header class="masthead">
  <div class="container px-5">

    <div class="container">
      <details>
      <summary>¿Que es lenguaje para todos?</summary>
      <div>
     Lenguaje para todos es un proyecto que vela por la inclusión de los niños que tienen alguna pérdida o daño auditivo.
      </div>
    </details>
    </div>


    <div class="container">
      <h1 style="padding-top: 100px;">Preguntas frecuentes</h1>
      <details>
      <summary>¿Qué debo hacer si no puedo acceder a una cuenta de Lenguaje para todos?</summary>
      <div>
        La activación de las cuentas con suscripción es en un plazo de entre 24 a 48 horas. 
        Dicha activación es enviada a través de <em> correo electrónico.</em> 
      </div>
    </details>
    </div>

    <div class="container">
      <details>
      <summary>¿Qué debo hacer si mi perfil no puede acceder a ninguna función de Lenguaje para todos?</summary>
      <div>
        Las cuentas para una activación de la suscripción tarda entre 24 a 48 horas. Si el problema 
        persiste contactarse con soporte@lenguajeparatodos.cl para una rápida activación de la cuenta.
      </div>
    </details>
    </div>

    <div class="container">
      <details>
      <summary>¿Qué debo hacer si olvido mi contraseña?</summary>
      <div>
        Si el problema persiste y no puedes recordar tu contraseña contacta 
        con soporte@lenguajeparatodos.cl para un rápido reestablecimiento de la contraseña.
      </div>
    </details>
    </div>


  </div>
</header>

{% endblock %}