{% extends './base.html' %}

{% block customCSS %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/tarea.css') }}">
{% endblock %}

{% block head %}
    <title> To Do</title>
{% endblock %}

{% block body %}
    <header class="masthead">
        <div class="container px-5">
            <div class="card rounded px-5 py-5 shadow">
                <form action="/tareas" method="POST" style="display: flex;">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" >
                    <input type="text" class="form-control form-control-lg mr-3" name="content" id="content"
                      placeholder="¿Qué tienes que hacer hoy?" style="margin-right: 20px">
                      <button type="submit" class="btn btn-primary">Agregar</button>
                </form>
            </div>
            <hr>
            <div class="card rounded px-5 py-5 shadow">
                <table>
                    <tr>
                        <th></th>
                        <th>Lista de Tareas</th>
                        <th>Acciones</th>
                    </tr>
                    {% for task in tasks %}
                        
                    <tr>
                        <td class="check"><input class="check" type="checkbox" /></td>
                        <td class="py-3"> {{ task.1 }} </td>
                        <td>
                            <button type="button" href="/delete/{{task.0}}" class="btn btn-danger">Eliminar</button>
                        </td>

                    </tr>
        
                    {% endfor %}
                </table>


            </div>
        </div>
    </header>
    
{% endblock %}