{% extends 'base.html' %}
{% block customCSS %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/profileUpdate.css') }}">
{% endblock %}
{% block body %}
    <section class="w-100 p-4 d-flex justify-content-center pb-4">
        <form action="/perfil/update/{{ form_update.0 }}" method="POST">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <br>
            {{ form.hidden_tag() }}
            {{ form.nombre.label(class="form-label")}}
            {{ form.nombre(class="form-control", value=form_update.5) }}
            <br>
            {{ form.apellidos.label(class="form-label")}}
            {{ form.apellidos(class="form-control", value=form_update.6) }}
            <br>
            {{ form.username.label(class="form-label") }}
            {{ form.username(class="form-control", value=form_update.2) }}
            <br>
            {{ form.password.label(class="form-label") }}
            {{ form.password(class="form-control", value=form_update.3) }}
            <br>
            {{ form.correo.label(class="form-label") }}
            {{ form.correo(class="form-control", value=form_update.10) }}
            <br>
            {{ form.imagen.label() }}
            {{ form.imagen(class="form-control",)}}
            {{ form_update.12 }}

            <br>
            <img src="data:;base64,{{ image }}" alt="foto">
            <button class="btn btn-primary btn-block">
                Actualizar
              </button>
        </form>

    </section>
{% endblock %}