{% extends 'base.html' %}
{% block customCSS %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/profileUpdate.css') }}">
{% endblock %}
{% block body %}
    <section class="w-100 p-4 d-flex justify-content-center pb-4">
        <form action="/perfil/update/{{ form_update.0 }}" method="POST" enctype="multipart/form-data">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <br>
            {{ form.hidden_tag() }}
            {{ form.nombre.label(class="form-label")}}
            {{ form.nombre(class="form-control", value=form_update.5) }}
            <br>
            {{ form.apellidos.label(class="form-label")}}
            {{ form.apellidos(class="form-control", value=form_update.6) }}
            <br>
            {{ form.username.label(class="form-label") }}
            {{ form.username(class="form-control", value=form_update.2) }}
            <br>
            {{ form.password.label(class="form-label") }}
            {{ form.password(class="form-control", value=form_update.3) }}
            <br>
            {{ form.correo.label(class="form-label") }}
            {{ form.correo(class="form-control", value=form_update.10) }}
            <br>
            <select required name="comuna" id="comuna" class="form-select form-select-lg mb-3">
                <option disabled selected> Selecciona la comuna </option>
                <option value="1"></option>
                <option value="2"></option>
                <option value="3"></option>
                <option value="4"></option>
                <option value="5"></option>
                <option value="6"></option>
                <option value="7"></option>
                <option value="8"></option>
                <option value="9"></option>
                <option value="10"></option>
                <option value="11"></option>
                <option value="12"></option>
                <option value="13"></option>
                <option value="14"></option>
                <option value="15"></option>
                <option value="16"></option>
                <option value="17"></option>
                <option value="18"></option>
                <option value="19"></option>
                <option value="20"></option>
                <option value="21"></option>
                <option value="22"></option>
                <option value="23"></option>
                <option value="24"></option>
                <option value="25"></option>
                <option value="26"></option>
                <option value="27"></option>
                <option value="28"></option>
                <option value="29"></option>
                <option value="30"></option>
                <option value="31"></option>
                <option value="32"></option>
            </select>
            <br>
            {{ form.imagen.label() }}
            {{ form.imagen(class="form-control",)}}
            {{ form_update.12 }}

            <br>
            <button class="btn btn-primary btn-block">
                Actualizar
              </button>
        </form>

    </section>
{% endblock %}